<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Bạn không thể truy cập trang web này.</h2>
        <p>Vui lòng click vào button bên dưới để được chuyển hướng đến trang chủ.</p>
        <hr />
        <p>
            <a asp-controller="Movies" asp-action="Index" class="btn btn-outline-success">Home Page</a>
        </p>
    </div>
</div>