<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Bạn đã tạo tài khoản tại <b>TicketsCorner</b> thành công!</h2>
        <p>Giờ đây bạn có thể <a asp-controller="Account" asp-action="Login"><u>Đăng Nhập</u></a> và mua vé xem phim thoả thích!</p>
        <hr />
        <p>Xin cảm ơn!</p>
    </div>
</div>