<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Đơn hàng của bạn đã đặt thành công!</h2>
        <p>Bạn có thể kiểm tra lại đơn hàng tại trang cá nhân của mình.</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>